/* MAIN START */
/* GOOLGE LOGO */
.logo{
    margin:auto;
    width:50%;
    text-align:center;
    padding:80px 0px;
}
/* INPUT STYLING */
input{
    width:400px;
    padding: 15px 50px;
    border-radius: 30px;
    border: 1px solid #ccc;
    background: url(https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png) no-repeat,
    url(../img/search.svg) no-repeat;
    background-size: 23px, 20px;
    background-position: right 15px center, left 15px center;
}
input:focus{
    box-shadow: 2px 3px 4px 2px #ccc;
    outline: none;
}
.input-search{
    padding-top: 20px;
}
/* BUTTONS */
.btn{
    padding:10px 20px;
    border: none;
    border-radius: 4px;
    margin-right: 10px;
    color:#5f6368;
}
.btn-container{
    margin-top:30px;
}
/* DESCRIPTION */
.desc{
    color:#0b57d0;
    font-size: small;
    padding:10px 20px;
    margin-top:30px;
    font-size: 13px;
}
.desc span{
    color:#5f6368;
    font-size: 13px;
}
/* GOOGLE OFFERED */
div.languages{
    margin-top: 40px;
}
ol.languages{
    list-style-type:none;
}
ol.languages li{
    display: inline;
    margin-right: 10px;
    font-size: 13px;
}
ol.languages li > a{
    text-decoration: none;
}
/* MAIN END */


/* FOOTER START */
footer{
    position:fixed;
    bottom:0;
    padding:15px;
    width:100%;
    background-color: #f2f2f2;
    border-top:1px solid #e4e4e4;
}
footer ol li{
    display:inline;
    padding-right: 30px;
    color:#676767;
    font-size:13px;
}
/* FOOTER END */

